body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #f75163;
    color: rgb(29, 1, 1);
}


footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-image: url(vintage-paper-background.jpg);
}

.links a {
    color: #fad694;
    text-decoration: none;
    gap: 20px;
    font-size: 18px;
}

.links a:hover {
    text-decoration: underline;
}

.profile-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}

.profile-picture {
    width: 100px;
    height: 95px;

}

.headline {
    font-size: 17px;
    max-width: 250px;
    background-color: #fad694;
    max-height: 110px;

}

.project-photo {
    width: 100px;
    height: 100px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

}

.project-1 {
    /*ask mr lo russo if correct and how to do steps its NOT WORKING!!!!!!!!*/
    width: 60%;
    background-color: #fad694;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 5px 5px;
    border: 1.5px solid black;
    /*change colour later*/
}

.project-2 {
    width: 70%;
    background-color: #fad694;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 5px 5px;
    border: 1.5px solid black;
    /*change colour later*/

}

.project-3 {
    width: 80%;
    background-color: #e1e1e1;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 5px 5px;
    border: 1.5px solid black;
    /*change colour later*/

}

.project-4 {
    width: 90%;
    background-color: #fad694;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 5px 5px;
    border: 1.5px solid black;
    /*change colour later*/

}

.project-5 {
    width: 100%;
    background-color: #fad694;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 5px 5px;
    border: 1.5px solid black;
}

.container-projects {
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    width: 100vw;
    display: flex;
    gap: 20px;
    background-image: url(vintage-paper-background.jpg);
}

.project-content {
    max-width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.project-info {
    width: fit-content;
}

.project-title {
    color: #7b550f;
    text-decoration: none;
    gap: 20px;
    font-size: 18px;
}

.project-title:hover {
    text-decoration: underline;
}