body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #f75163;
    color: rgb(29, 1, 1);
}


footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.links a {
    color: #fad694;
    text-decoration: none;
    gap: 20px;
    font-size: 18px;
}

.links a:hover {
    text-decoration: underline;
}

.profile-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}

.profile-picture {
    width: 100px;
    height: 95px;

}

.headline {
    font-size: 17px;
    max-width: 250px;
    background-color: #ff876f;
    max-height: 110px;

}

.project-photo {
    width: 100px;
    height: 100px;
}

.project-1 {

    /*ask mr lo russo if correct and how to do steps its NOT WORKING!!!!!!!!*/
    flex-basis: 400px;
    background-color: #ff876f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.project-2 {
    flex-basis: 450px;
    background-color: #ff876f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.project-3 {
    flex-basis: 500px;
    background-color: #ff876f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.project-4 {
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.container-projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    font-size: 18px;
}

.project-content {
    max-width: 400px;
    flex-direction: row;
    justify-content: space-between;
    display: flexbox;
}


.project-title a {

    text-decoration: none;
}